
#particles-js{
    background-image: url('/Shiny Overlay.svg');
    background-size: cover;
    position: fixed;  /* বা absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;  
}
